:root {
  --primary-color: #61892F ;
  --secondary-color: #222629 ;
  --max-width: 1100px;
}   

/*  #61892F Darker Green
        #86C232 Light green
        #222629 Black'ish
        #474B4F Grey
        #6B6E70 Light grey   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: normal 1rem/1.5 'Raleway' sans-serif; /* normal font-weight, font-size/line-height, font-style */
  background-color: var(--primary-color);
  color: #fff;
  overflow-x: hidden;  /* Hidden on the X axis/side */
  padding-bottom: 3.5rem;
}
a {

}
h1 {
  font-size: 2.3rem;
}

/* Header */

#main-header {
  background-color: var(--secondary-color);
  padding: 4rem 0;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}


/* Timeline */
#timeline {

}

/*  */
#timeline ul {
  background: var(--primary-color);
  padding: 50px 0; /* 50px from the top and bottom of the LINE */
}

/* Line in the middle */
#timeline li {
  list-style: none;
  position: relative; /* Some stuff inside li will be absolute */
  width: 6px;  /* Line in the middle of the screen */
  margin: 0 auto;
  padding-top: 1rem;
  background: #fff;
}

/* Boxes */
#timeline div {
  position: relative;
  bottom: 0; /* Start from the bottom */
  width: 400px; /* width of the div/box */
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out; /* boxes come to the pages smoothly */
}


/* Right side boxes */
#timeline ul li:nth-child(odd) div {
  left: 40px;
}

/* Left side boxes */
#timeline ul li:nth-child(even) div {
  left: -440px;
}


/* Dots */
#timeline ul li:after{
  content: "";
  position: absolute; /* div is relative */
  left: 50%; /* in the middle of the line */
  bottom: 0; /* dots on the line not behind */
  width: 25px; /* of the dot */
  height: 25px; /* of the dot */
  background: var(--secondary-color);
  transform: translateX(-50%); /* Brings the dot to the center */
  border-radius: 50%; /* Makes the dots rounded */
  transition: background 0.5s ease-in-out; /* White dots first, transition to black */
}

/* Arrows base, small square */
#timeline div::before {
  content: "";
  position: absolute; /* Within a div */
  bottom: 5px; /* Arrow 5px from the bottom of the box */
  width: 0;
  height: 0;
  border-style: solid; /*  */
}

/* Right side arrows, square next to box */
#timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0; /* making the box bigger */
  border-color: transparent var(--secondary-color) transparent transparent;
}

/* Left side arrows, square next to box */
#timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0px 8px 16px; /* making the box bigger */
  border-color:  transparent transparent transparent var(--secondary-color);
}



@media(max-width: 900px) { /* 900px or less change boxes */
  #timeline ul li div {
    width: 250px;  /* Change to smaller size */
  }
  #timeline ul li:nth-child(even) div {
    left: -287px;
  }
}


@media(max-width: 600px) { /* 900px or less change boxes */
  #timeline ul li {
    margin-left: 20px; 
  }
  #timeline ul li div {
    width: calc(100vw - 90px);
  }
  #timeline ul li:nth-child(even) div {
    left: 40px; /* Moves left side boxes to right side */
  }
  #timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0; /* making the box bigger */
    border-color: transparent var(--secondary-color) transparent transparent;
  }

  }